/*Info*/

#perfil{
    padding: 20px;
    margin: 10px;
    margin-top: 100px;
    margin-left: 80px;
}

.contenedor-inferior {
    display: flex;
}

.columna-izquierda {
    flex: 1;
    padding: 20px;
    margin-left: 50px;
}

.columna-derecha {
    flex: 2;
    padding: 20px;
    margin-left: 200px;
}

#perfil-imagen img {
    margin-left: 100px;
    max-width: 70%;
    margin-bottom: 80px;
    height: auto;
    border: 6px solid #08554c;

}

.cuadroTexto {
    border: 2px solid #08554c;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 100px;
    max-width: 100%;
    min-width: 100%;
}

.cuadroTextoA{
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 100px;
}


