/* Contenedores */
.main {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #cbcbcb;
    max-width: 100%;
    margin-bottom: 50px;
}

.contenedor {
    height: 500px;
    width: 350px;
    margin: 0 20px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
}

img {
    width: 100%; 
    height: 100%; 
    border-radius: 3px;
    transition: transform 0.5s;
    outline: none; 
}

.infoP {
    height: 150px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #08554c;
    color: #cbcbcb;
    opacity: 0;
    transition: opacity 0.5s, height 0.5s;
}
.h1T{
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}
p {
    font-size: 15px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

button {
    display: block;
    background-color: #cbcbcb;
    color: #ff5900;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff5900;
}
button a {
    text-decoration: none; 
    color: black; 
}
.contenedor:hover .infoP {
    height: 250px;
    padding-top: 20px;
    opacity: 1;
}

.contenedor:hover p {
    opacity: 1;
    color: #cbcbcb;
}
